.claps-root {
  --animate-duration: 600ms;
  --transition: 120ms;

  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  position: relative;
  z-index: 1;
  font-size: 15px;
  line-height: 1;
  user-select: none;
  font-family: sans-serif;
}

.claps-root * {
  box-sizing: border-box;
  transition: var(--transition);
}

.claps-fixed {
  position: fixed;
  bottom: 1rem;
  z-index: 10;
}

.claps-fixed-left {
  left: 1rem;
}

.claps-fixed-center {
  left: 50%;
  transform: translateX(-50%);
}

.claps-fixed-right {
  right: 1rem;
}

.claps-body {
  display: flex;
  align-items: center;
  gap: 1px;
  padding: 2px;
  color: #000;
  background-color: #fff;
  border-radius: 40px;
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 10%));
}

.claps-fixed .claps-body {
  filter: drop-shadow(0 4px 8px rgb(0 0 0 / 14%))
    drop-shadow(0 1px 2px rgb(0 0 0 / 6%));
}

.claps-divider {
  display: block;
  width: 1px;
  height: 1.1em;
  background-color: rgb(0 0 0 / 10%);
}

.claps-button {
  cursor: pointer;
  border: 0;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 0.3em;
  font: inherit;
  background-color: transparent;
  border-radius: 6px;
  text-decoration: none;
  color: inherit;
}

.claps-button:first-child {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.claps-button:last-child {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.claps-button:hover {
  background-color: rgb(0 0 0 / 5%);
}

.claps-button-suffix {
  opacity: 0.4;
}

.claps-body:hover .claps-divider {
  background-color: transparent;
}

.claps-button svg {
  color: rgb(0 0 0 / 80%);
}

.claps-button:hover svg {
  color: rgb(0 0 0 / 100%);
}

.claps-button-clap.clapped svg {
  color: rgb(0 0 0 / 100%);
}

.claps-share-modal {
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: rgb(0 0 0 / 60%);
  display: grid;
  place-items: center;
}

.claps-share-content {
  position: relative;
  padding: 2rem;
  background-color: white;
  filter: drop-shadow(0 4px 8px rgb(0 0 0 / 20%));
  border-radius: 1rem;
}

.claps-share-header {
  display: flex;
  align-items: center;
}

.claps-share-header h3 {
  font-size: 1.4rem;
  font-weight: bold;
}

.claps-share-close {
  margin-left: auto;
  opacity: 0.5;
}

.claps-share-buttons {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.claps-share-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}

.claps-share-button-icon {
  padding: 0.6rem;
  background-color: rgb(0 0 0 / 6%);
  border-radius: 100%;
}

.claps-share-button:hover .claps-share-button-icon {
  background-color: rgb(0 0 0 / 10%);
}

/* https://github.com/animate-css/animate.css */

.animated {
  animation-duration: var(--animate-duration);
  animation-fill-mode: both;
}

@keyframes headShake {
  0% {
    transform: translateX(0);
  }
  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }
  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }
  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }
  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }
  50% {
    transform: translateX(0);
  }
}

.headShake {
  animation-timing-function: ease-in-out;
  animation-name: headShake;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.1);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1);
  }
}

.heartBeat {
  animation-name: heartBeat;
  animation-duration: calc(var(--animate-duration) * 1.3);
  animation-timing-function: ease-in-out;
}
